main {

	@media #{$not-desktop} {
		padding: 0 .5rem;
	}
	@media #{$desktop} {
		padding-right: 6rem;
	}

	h1 {
		margin: 3rem 0 1rem;
		font-size: 3rem;
	}

	h2 {
		margin: 2rem 0 1rem;
		font-size: 2rem;
	}

	p {
		margin-bottom: 1rem;
		line-height: 1.5;
	}

	nav.next-previous {
		display: grid;
		grid-template-columns: 50% 50%;
		width: 100%;
		margin-top: 3rem;
		background-color: $color-background;
		font-style: italic;

		& > div {
			padding: .3rem .5rem;
		}

		& > :last-child {
			text-align: right;
		}
	}
}